<div class="container mt-5">
 
  <!-- Área de navegação com cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card 1 -->
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-calendar-plus fs-1 text-primary"></i>
          <h5 class="card-title mt-3">Reunião 1x1</h5>
          <a routerLink="/cadastrar-reuniao" class="btn btn-primary w-100 mt-3">
            Acessar
          </a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-person fs-1 text-primary"></i>
          <h5 class="card-title mt-3">Testemunho</h5>
          <a routerLink="/cadastra-testemunho" class="btn btn-primary w-100 mt-3">
            Acessar
          </a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-bookmark fs-1 text-primary"></i>
          <h5 class="card-title mt-3">Referência</h5>
          <a routerLink="/cadastra-referencia" class="btn btn-primary w-100 mt-3">
            Acessar
          </a>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-house-door fs-1 text-primary"></i>
          <h5 class="card-title mt-3">Unidade de Educação</h5>
          <a routerLink="/unidade-educacao" class="btn btn-primary w-100 mt-3">
            Acessar
          </a>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-check fs-1 text-primary"></i>
          <h5 class="card-title mt-3">OPNF</h5>
          <a routerLink="/cadastra-opnf" class="btn btn-primary w-100 mt-3">
            Acessar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
